@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }   100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in {
    animation: slide-in 600ms ease;
}

input.size-to-parent {
    width: 100%;
    padding: 5px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="button"], input[type="submit"] {
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    transition: 150ms ease;
}

.scenario-parent {
    animation: slide-in 200ms ease forwards;
}